$app-padding-xs: 0.25rem;
$app-padding-s: 0.5rem;
$app-padding-m: 1rem;
$app-padding-l: 1.5rem;
$app-padding-xl: 2.0rem;
$app-padding-xxl: 4.0rem;

$app-content-max-width: 60rem; // 960px

$app-font-size-s: 0.75rem;
$app-font-size: 1rem;
$app-font-size-m: 1.5rem;
$app-font-size-l: 2.4rem;
$app-font-size-xxl: 4.8rem;

$app-color-bg: #F1EFDC;
$app-color-bg-dark: #E6D2AA;
$app-color-primary: #D36B00;
$app-color-secondary: #C58940;//#FFF1DC;
$app-color-secondary-cold: #42032C;